{% load static %}
<footer class="container">
    <div class="footer-section row" style="justify-content: space-between;">
        <div class="wrapper col-md-3 col-12">
            <a href="#" class="footer-logo">
                <span class="logo-light">
                    <span class="logo-container"><img src="{% static './assets/images/news.png' %}" alt="logo" width="70" />Mana News</span>
                </span>
                <span class="logo-dark">
                    <span class="logo-container"><img src="{% static './assets/images/news.png' %}" alt="logo" width="70" />Mana News</span>
                </span>
            </a>

            <p class="footer-text">
                <span>&copy; 2025 MANA News Aggregator. All rights reserved.</span>
            </p>
        </div>

        <div class="wrapper col-md-3 col-12" style="justify-content: center;display: flex;">
            <div id="google_element"></div>
            <script src="https://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
            <script>
              function loadGoogleTranslate() {
                new google.translate.TranslateElement({
                  pageLanguage: 'en'
                }, 'google_element');
              }
            </script>
        </div>

        <div class="wrapper col-md-3 col-12">
            <h5><p class="footer-icons">Follow Us</p></h5>
            <ul class="social-icons" style="display: flex; gap: 10px; list-style: none; padding: 0; margin: 0;">
                 <li>
                     <a href="https://www.youtube.com" class="social-icon fa fa-youtube" style="font-size: 16px; background:rgb(100, 19, 3); color: white; display: flex; align-items: center; justify-content: center; width: 30px; height: 30px; border-radius: 50%; border: 2px solid var(--foreground-tertiary);" aria-label="Share on Youtube" onclick="shareOnYoutube('{{ record.url }}')"></a>
                 </li>
                 <li>
                     <a href="https://www.pinterest.com" class="social-icon fa fa-pinterest" style="font-size: 16px; background:rgb(12, 13, 14); color: white; display: flex; align-items: center; justify-content: center; width: 30px; height: 30px; border-radius: 50%; border: 2px solid var(--foreground-tertiary);" aria-label="Share on pinterest" onclick="shareOnpinterest('{{ record.url }}')"></a>
                 </li>
                 <li>
                     <a href="https://www.twitter.com" class="social-icon fa fa-twitter" style="font-size: 16px; background:rgb(69, 145, 178); color: white;display: flex; align-items: center; justify-content: center; width: 30px; height: 30px; border-radius: 50%; border: 2px solid var(--foreground-tertiary);" aria-label="Share on Twitter" onclick="shareOnTwitter('{{ record.url }}')"></a>       
                 </li>
                 <li>
                     <a href="https://www.google.com" class="social-icon fa fa-google" style="font-size: 16px; background:rgb(228, 19, 64);color: white; display: flex; align-items: center; justify-content: center; width: 30px; height: 30px; border-radius: 50%; border: 2px solid var(--foreground-tertiary);" aria-label="Share on Google" onclick="shareOnGoogle('{{ record.url }}')"></a>
                 </li>
                 <li>
                     <a href="https://www.instagram.com" class="social-icon fa fa-instagram" style="font-size: 16px; background:rgb(38, 5, 109); color: white;display: flex; align-items: center; justify-content: center; width: 30px; height: 30px; border-radius: 50%; border: 2px solid var(--foreground-tertiary);" aria-label="Share on Instagram" onclick="shareOnInstagram('{{ record.url }}')"></a>
                 </li>
             </ul>
         </div>
    </div>

    <p class="copyright" style="margin: 0;">&copy; Copyright 2025 <a href="#">MANA News</a></p>
</footer>